<div class="home-container">
  <div id ="home" class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex  ">
        <section>
          <span class="text-6xl text-primary font-bold mb-1"><h1>Fitbit Dashboard</h1></span>
            <span class="block text-2xl font-bold mb-3">Track Your Fitness Journey with Ease</span>
            <div class="text-3xl text-primary font-bold mt-5 mb-3">Consolidate, analyze, and visualize all your fitness data in one intuitive dashboard for easy understanding.</div> 
            <div class="text-3xl text-primary font-bold mt-5 mb-3">Sign up now for easy, insightful access to your health journey.</div> 
            <button pButton pRipple label="Learn More" type="button" class="mr-3 p-button-raised" [routerLink]="['/']" fragment="features"></button>
            <div class="block text-2xl font-bold mt-3">Already a  User?</div> 
            <button pButton pRipple label="Sign In" type="button" class="p-button-raised" routerLink="/login"></button>
            
            
        </section>
    </div>
    <div id="register" class="col-12 md:col-6 overflow-hidden">
      <app-register></app-register>
    </div>
  </div>
  

  <div id = "features" #featuresSection class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-3xl">
        <span class="text-900">One Product, </span>
        <span class="text-blue-600">Many Solutions</span>
    </div>
    <div class="text-700 mb-6">Your physical health in you hands now to keep your mind at peace.</div>
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-user text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Built for You</div>
            <span class="text-700 line-height-3">Tailored to your fitness journey, our dashboard brings all your Fitbit data into one place.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-heart-fill text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Heart rate Monitor</div>
            <span class="text-700 line-height-3">Gain insights into your heart health with detailed analysis for your improved well-being.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-moon text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Sleep pattern cycles</div>
            <span class="text-700 line-height-3">Understand and improve your sleep quality with detailed analysis of your sleep patterns and cycles.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-globe text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">End-to-End Analysis</div>
            <span class="text-700 line-height-3">Comprehensive tracking from steps to sleep, with in-depth analysis of your entire fitness journey.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-cog text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Easy to Use</div>
            <span class="text-700 line-height-3">Intuitive design and clear visualizations make tracking your health and fitness journey effortless</span>
        </div>
        <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-shield text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Trusted Security</div>
            <span class="text-700 line-height-3">Reliable and robust security measures to keep your personal health data safe and protected at all times.</span>
        </div>
    </div>
  </div>



    <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
      <div class="text-700 text-center">
          <div class="text-blue-600 font-bold mb-3"><i class="pi pi-prime"></i>&nbsp;POWERED BY Fitbit Dashobaord</div>
          <div class="text-900 font-bold text-5xl mb-3">Join Our Fitness Community</div>
          <div class="text-700 text-2xl mb-5">Connect with like-minded fitness enthusiasts and access a wealth of insights to empower your health journey.</div>
          <button pButton pRipple label="Sign Up" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap" [routerLink]="['/']" fragment="register"></button>
      </div>
    </div>
  
    <!-- Footer -->
    <div class="footer">
      <p>&copy; Fitbit Dashboard</p>
      <p><a href="/about-us">About Us</a> | <a href="/contact">Contact</a> | <a href="/privacy-policy">Privacy Policy</a></p>
      <!-- Social Media Links -->
      <!-- Add links to your social media profiles -->
    </div>
  </div>
  
  