<div class="signup-card">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6 m-auto mt-12">
    <div class="text-center mb-5">
      <button pButton pRipple label="Home" icon="pi pi-home" class="p-button-raised mb-5 w-3" type="button" routerLink=""></button>
      <div class="text-900 text-3xl font-medium mb-3">Sign Up now for your account</div>
      <span class="text-600 font-medium line-height-3">Already have an account?</span>
      <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" routerLink="/login">Sign in!</a>
   </div>

      <div class="form-container">
        <p-card header="Sign Up" class="signup-card">
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="p-fluid">
              <!--First Name -->
              <div class="p-field">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" pInputText formControlName="firstName">
                <small *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched" class="p-error">First Name is required and should be at least 2 characters</small>
              </div>

              <!--Last Name -->
              <div class="p-field">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" pInputText formControlName="lastName">
                <small *ngIf="signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched" class="p-error">Last Name is required and should be at least 2 characters</small>
              </div>
      
              <!-- Phone Number -->
              <div class="p-field">
                <label for="phone">Phone Number</label>
                <input type="tel" id="phone" pInputText formControlName="phone">
                <small *ngIf="signupForm.get('phone')?.invalid && signupForm.get('phone')?.touched" class="p-error">Phone number is required and must be numeric.</small>
              </div>
      
              <!-- Email -->
              <div class="p-field">
                <label for="email">Email</label>
                <input type="email" id="email" pInputText formControlName="email">
                <small *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="p-error">A valid email is required.</small>
              </div>
      
              <!-- Password -->
              <div class="p-field">
                <label for="password">Password</label>
                <p-password inputId="password" formControlName="password" [feedback]="false"></p-password>
                <small *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="p-error">Password is required and must be at least 6 characters long.</small>
              </div>

              <!-- Confirm Password -->
              <div class="p-field">
                <label for="confirmPassword">Confirm Password</label>
                <p-password inputId="confirmPassword" formControlName="confirmPassword" [feedback]="false"></p-password>
                <small *ngIf="signupForm.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched" class="p-error">Confirm password is required.</small>
                <small *ngIf="signupForm.errors?.['passwordMismatch'] && signupForm.get('confirmPassword')?.touched" class="p-error">Passwords do not match.</small>
              </div>

      
              <!-- Submit Button -->
              <button pButton type="submit" label="Submit"></button>
      
              <!-- Response Message -->
              <div *ngIf="responseMessage" class="response-message">
                {{ responseMessage }}
              </div>
            </div>
          </form>
        </p-card>
      
        
      </div>
  </div>
</div>